* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background: #ddeeff;
}

/*************** Container ***************/
section {
	top: 90px;
	bottom: 0;
	max-height: 100%;
}

iframe {
	height: calc(100vh - 230px);
}

/*************** Search-results ***************/
.result-link {
	display: inline-block;
	text-decoration: none;	
}

.result-box {
	background: #fff;
	height: 250px;
	overflow: auto;
	padding: 15px;
	margin: 10px 0;
	border-radius: 15px;
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);
	        box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);
}


/*************** ELEMENTS ****************/
.btn-outline-primary {
	color: black;
	background: #b8daff;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #000;
}

.result-box:hover {
	background: #40679e;
	color: #fff;
	text-decoration: none;
}

.result-box:active {
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .9);
	        box-shadow: 1px 1px 3px rgba(0, 0, 0, .9);
	-webkit-transform: translate(4px, 4px);
	    -ms-transform: translate(4px, 4px);
	        transform: translate(4px, 4px);
}
