* {
	box-sizing: border-box;
}

body {
	background: #ddeeff;
}

section {
	top: 90px;
	bottom: 0;
	max-height: 100%;
}

iframe {
	height: calc(100vh - 190px);
}

.result-link {
	display: inline-block;
	text-decoration: none;	
}

.result-box {
	background: #fff;
	height: 250px;
	overflow: auto;
	padding: 15px;
	margin: 10px 0;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);
	text-decoration: none;
}

.btn-outline-primary {
	color: black;
	background: #b8daff;
}

a {
	color: black;
	text-decoration: none;
}

